*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lobster', cursive;
}

/*CSS for Header*/

header{
	height: 110vh;
	background: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;
}

nav{
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > ul{
	display: flex;
	list-style-type: none;
}

nav > ul > li{
	margin: 0 20px;
	font-size: 15px;
	color: lightyellow;
}

/*Styling for all buttons*/

.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btn-flower{
	background-color: lightyellow;
	font-size: 15px;
	/*font-weight: bold;*/
}

#flowerBtn{
	position: absolute;
	right: 100px;
	top: 20px;
	transition: .5s;
}

#flowerBtn:hover{
	top:15px;
}

/*Start of Disappearing Menu CSS*/

.submenu {
	background-color: lightyellow;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 45px;
	visibility: hidden;
}

.submenu > div{
	width: 25%;
}

div + div {
	border-left: 1px solid black;
}

div > h4, div > p{
		margin: 10px 0;
		padding: 0 10px;
		color: black;
}

.submenu > div	> p:hover{
	background-color: pink;
}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover {
	visibility: visible;
}

/*End of Disappering Menu CSS*/

.header-text{
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-text > h1{
	font-size: 70px;
}

.header-text > h1, .header-text > p, .header-text > div > button {
	margin-left: 50px;
}

.header-text > div > .btn {
	margin-top: 20px;
	background-color: navy;
	color: white;
}

/*End CSS for Header*/

/*Start of Quote CSS*/

.quote {
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width: 50%
}

.quote > div > div {
	text-align: center;
	margin-top: 20px;
}
/*End of Quote CSS*/

/*Start of Section Create*/

/*.create{
	height: 90vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left {
	height: 60vh;
	width: 40vw;
}

.left > img{
	height: 100%;
	width: 100%;
}

.right{
	height: 60vh;
	width: 40vw;
	padding-left: 2vh;
}

.right > h3 {
	font-family: 'Roboto', sans-serif;
}

.right > h2 {
	margin-top: 5vh;
	margin-bottom: 10vh;
}

.right div {
	height: 20vh;
	width: 20vw;
	display: flex;
	flex-direction: column;
}

.right > .twenty > h1 {
	font-size: 50px;
}

.twenty > h1 > span{
	font-size: 20px;
	position: relative;
	bottom: 20px;
	margin-left: 5px;
}

.right > .thirty > h1 {
	font-size: 50px;
}

.thirty > h1 > span{
	font-size: 20px;
	position: relative;
	bottom: 20px;
	margin-left: 5px;
}*/


.section3 {
	height: 80vh;
	display: flex;
	border-bottom: 1px solid whitesmoke;
	justify-content: flex-end;
	align-items: center;
}

.section3 > section {
	width:50%;
}

.section3-left{
	text-align: right;
}

.section3 img {
	width: 550px;
	height: 300px;
}

.section3-right {
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.section3-right > div {
	height: 300px;
	padding-right: 50px;
}

.section3-right > div > div > p {
	color: gray;
	margin-bottom: 10px;
}

.section3-right > div > div > h3 {
	font-size: 30px;
}

.bottom-content {
	display: flex;
}

.bottom-content > div {
	width: 50%;
}

.bottom-content > div > h1 {
	font-size: 60;
}

.bottom-content > div > h1 > span {
	font-size: 20;
	position: relative;
	bottom: 30px;
}

.bottom-content > div > p {
	font-size: 12;
	color: gray;
}
/*End of Section 3 CSS*/

.section4 {
	margin-top: 10vh;
	height: 80vh;
	border-bottom: 1px solid whitesmoke;
	justify-content: center;
	text-align: center;
}

.section4-h2{
	font-size: 25px;
}

.defineflowers{
	display: flex;
	justify-content: center;
}

.box1, .box2, .box3{
	margin-top: 20px;
	padding: 20px;
	width: 300px;
	height: 400px;
	border: 1px solid lightgray;
	position: relative;
	text-align: left;
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.5);
}

.box1 > img{
	margin-top: 30px;
	margin-left: 13vh;
	margin-bottom: 10px;
	height: 70px;
	width: 90px;
	border-radius: 10px;
}
.box2{
	margin-left: 30px;
}

.box2 > img{
	margin-top: 10px;
	margin-left: 13vh;
	margin-bottom: 10px;
	height: 70px;
	width: 90px;
	border-radius: 10px;
}

.box3{
	margin-left: 30px;
}

.box3 > img{
	margin-top: 30px;
	margin-left: 13vh;
	margin-bottom: 10px;
	height: 70px;
	width: 90px;
	border-radius: 10px;
}

.box1 > p + img + p{
	text-align: center;
}

.box2 > p + img + p{
	text-align: center;
}

.box3 > p + img + p{
	text-align: center;
}

.box1, .box2, .box3{
	transition: .15s;
}

.box1:hover{
	top:15px;
}

.box2,:hover{
	top:15px;
}

.box3:hover{
	left:15px;
}